<div class="p-grid p-mt-4">
    <div class="p-col p-mt-4">
        <p-tabView (onChange)="changeTab($event)">
            <ngx-spinner name="hash-history-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <p-tabPanel header="Malware({{ hashTypeMalware | number }})">
                <div class="p-grid">
                    <div class="p-col">
                        <p-card header="Malware Search History">
                            <p-table #dt [value]="malData" [showCurrentPageReport]="true"
                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                     [alwaysShowPaginator]="true"
                                     [paginator]="true" [rows]="10"
                                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>

                                        <th> Filename</th>
                                        <th> Upload Date</th>
                                        <th> Status</th>
                                        <th> Actions
                                            <i class="pi pi-spin pi-spinner" *ngIf="downloadMalwareLoader" style="font-size: 2rem"></i>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td><a class="onRowClick" pTooltip="{{rowData.filename}}"
                                               (click)="openDialog(rowData.filename)">{{rowData.filename}}</a></td>
                                        <td>{{rowData.submitDate}}</td>
                                        <td><span class="leads category-color-g"
                                                  *ngIf="rowData.status === 'completed'"><b>{{rowData?.status}}</b></span>
                                            <span class="leads category-color-y"
                                                  *ngIf="rowData.status !== 'completed'"><b>{{rowData?.status}}</b></span>
                                        </td>
                                        <td>
                                            <span *ngIf="rowData.status === 'reported'"><i style="cursor: pointer" (click)="downloadMalware(rowData.cuckooId)" class="pi pi-download"></i></span>
                                            <span class="label label-danger" *ngIf="rowData.status !== 'reported'">In-Progress</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="6">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="FileHash-MD5({{ hashTypeMd5 | number }})">
                <div class="p-grid">
                    <div class="p-col">
                        <p-card header="FileHash-MD5 Search History">
                            <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                     [alwaysShowPaginator]="true"
                                     [paginator]="true" [rows]="10"
                                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th> Indicators</th>
                                        <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                        <th> Counts</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td>
                                            <a class="onRowClick" pTooltip="{{rowData.ioc}}"
                                               (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a>
                                        </td>
                                        <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                        <td>{{rowData.counts}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="6">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>

            </p-tabPanel>
            <p-tabPanel header="FileHash-SHA1({{ hashTypeSha1 | number }})">
                <div class="p-grid">
                    <div class="p-col">
                        <p-card header="FileHash-SHA1 Search History">
                            <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                     [alwaysShowPaginator]="true"
                                     [paginator]="true" [rows]="10"
                                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th> Indicators</th>
                                        <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                        <th> Counts</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td><a class="onRowClick" pTooltip="{{rowData.ioc}}"
                                               (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                        <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                        <td>{{rowData.counts}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="6">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>

            </p-tabPanel>
            <p-tabPanel header="FileHash-SHA256({{ hashTypeSha256 | number }})">
                <div class="p-grid">
                    <div class="p-col">
                        <p-card header="FileHash-SHA256 Search History">
                            <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                     [alwaysShowPaginator]="true"
                                     [paginator]="true" [rows]="10"
                                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th> Indicators</th>
                                        <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                        <th> Counts</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td><a class="onRowClick" pTooltip="{{rowData.ioc}}"
                                               (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                        <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                        <td>{{rowData.counts}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="6">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
