<div class="spin">
    <ngx-spinner name="datamap-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                 type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
</div>
<div  id="container1"></div>
