<form [formGroup]="inputForm">
    <span class="p-input-icon-left p-input-wrapper">
        <i class="pi {{ this.icon }}"></i>
        <input 
            pInputText
            type="{{ this.type }}"
            placeholder="{{ this.placeholder }}"
            id="{{ this.id }}"
            class="{{ this.class }}"
            [disabled]="disabled"
            [ngClass]="{ 'p-error': inputForm.controls.inputName.hasError('required') && isRequired }"
        > 
    </span>
    <span *ngIf="inputForm.controls.inputName.hasError('required') && isRequired" class="p-error p-d-block p-mt-3">
        {{ placeholder }} is required
      </span>
</form>