<p-card header="Total Indicator Counts">
    <div class="spin">
        <ngx-spinner name="tic-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
    </div>
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="true"
           [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
           (ngModelChange)="selectDate()" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-2">
    <div class="p-grid p-mb-2">
        <div class="p-col-12 p-d-flex">
            <div *ngIf="navigateIoc">
                <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="navIocBack()">
                    Back
                </button>
            </div>
            <div *ngIf="navigatehash">
                <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="navhashBack()">
                    Back
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="showTable" echarts [options]="tspChart" class="wsh-chart" (chartClick)="ticDetails($event)"></div>
    <div *ngIf="navigate" echarts [options]="tspChart" class="wsh-chart" (chartClick)="ticHashDetails($event)"></div>
    <div *ngIf="hideTable">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                </div>
            </div>
        </div>

    </div>
</p-card>
