<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <p-card header="Top 10 IPs">
            <div class="spin">
                <ngx-spinner name="ip-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                             type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            </div>
            <div *ngIf="showTable" echarts [options]="tspChart" (chartClick)="openDialog($event)" class="wsh-chart">
            </div>
            <div *ngIf="hideTable">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="panel panel-default">
                            <p class="msg-dashBoard"> No Record Found </p>
                        </div>
                    </div>
                </div>

            </div>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6">
        <app-urlStats></app-urlStats>
    </div>

</div>
<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <app-domain></app-domain>
    </div>
    <div class="p-col-12 p-md-6">
        <app-md5stats></app-md5stats>
    </div>

</div>

<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <app-sha1stats></app-sha1stats>
    </div>
    <div class="p-col-12 p-md-6">
        <app-sha256stats></app-sha256stats>
    </div>
</div>
