//@import "variables";
//
//.input-group-addon .fa {
//  font-size: 18px;
//}
///*DEFAULT THEME*/
//$chart-h: 285px;
//
//.wsh-chart {
//  height: $chart-h;
//}
//
//.custom-daterange {
//  width: 30%;
//}
//
//.btn {
//  text-transform: capitalize;
//}
//td th {
//  justify-content: center;
//  text-align: center;
//}
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
//.switch {
//  float: right;
//  margin-top: 7px;
//  width: 150px;
//  text-align: right;
//  margin-right: 20px;
//}
//.label-danger {
//  background: #dc3545;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//.label-success {
//  background: green;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//::ng-deep .p-datatable-wrapper {
//  margin-top: 20px;
//}
//::ng-deep .p-input-icon-left {
//
//  i {
//    left: 0.8rem;
//    top: 1.7rem;
//  }
//
//  input {
//    padding: 0.9rem 0.8rem 0.8rem 1.8rem;
//    border: 1px solid $black-20;
//    border-radius: 5px;
//    font-family: $font-stack;
//    font-size: $primary-font-size;
//    color: $primary-color;
//    height: 47px;
//
//    &:hover, &:focus {
//      outline: none;
//      border: 1px solid $black-50;
//    }
//
//  }
//
//}
//
//::ng-deep .onRowClick {
//
//  .pi {
//    margin-right: 7px;
//    cursor: pointer;
//    font-size: $font-15;
//  }
//
//}
//
