<div class="p-grid p-mt-4 p-pt-4">
    <div class="p-col">
<p-tabView (onChange)="changeTab($event)">
    <ngx-spinner name="other-history-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <p-tabPanel header="Bulk Search({{ bulkSearchCount | number }})" >
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Bulk Search History">
                    <p-table #dt [value]="bulkData" [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="true"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> File Name</th>
                                <th> Upload Date</th>
                                <th> Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td>{{rowData.fileName}}</td>
                                <td>{{rowData.uploadDate | date:'dd-MMM-yyyy'}}</td>
                                <td>
                            <span class="leads category-color-g"
                                  *ngIf="rowData.status === 'Completed'"><b>{{rowData?.status}}</b></span>
                                    <span class="leads category-color-y"
                                          *ngIf="rowData.status !== 'Completed'"><b>{{rowData?.status}}</b></span>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Email({{ emailCounts | number }})" >
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Email Search History">
                    <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="true"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Indicators</th>
                                <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                <th> Counts</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                <td>{{rowData.counts}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="CVE({{ cveCounts | number }})">
        <div class="p-grid">
            <div class="p-col">
                <p-card header="CVE Search History">
                    <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="true"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Indicators</th>
                                <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                <th> Counts</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                <td>{{rowData.counts}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="YARA({{ yaraCounts | number }})">
        <div class="p-grid">
            <div class="p-col">
                <p-card header="YARA Search History">
                    <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="true"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Indicators</th>
                                <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                <th> Counts</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                <td>{{rowData.counts}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Hostname({{ hostnameCounts | number }})">
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Hostname Search History">
                    <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="true"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Indicators</th>
                                <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                                <th> Counts</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                                <td>{{rowData.counts}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
    </div>
</div>
