<p-card>
    <ngx-spinner name="reporting-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                 type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <p-tabView>
        <p-tabPanel header="One Time Report">
            <form [formGroup]="reportingOTPForm">
                <div class="p-field p-fluid">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Distribution List
                    </label>
                    <p-chips   [addOnBlur]="true" [allowDuplicate]="false" formControlName="emaillist"
                             placeholder="Enter Atleast one Email"
                             (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>
                    <div *ngIf="errorControl.emaillist.errors && (errorControl.emaillist.dirty || errorControl.emaillist.touched)">
                        <span class="p-error"
                              *ngIf="errorControl.emaillist.errors.required">Atleast one email is required!</span>
                        <span class="p-error" *ngIf="errorControl.emaillist.errors.pattern">Email is incorrect!</span>
                    </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Starts After
                    </label>
                    <input pInputText class="p-inputtext animation  " placeholder="Enter Date"
                           type="date" formControlName="onetimesheduledate" (change)="changetimevalue($event)"
                           [(ngModel)]="onetimesheduledate" min="{{mindate}}">
                    <div *ngIf="errorControl.onetimesheduledate.errors && (errorControl.onetimesheduledate.dirty || errorControl.onetimesheduledate.touched)">
                        <span class="p-error" *ngIf="errorControl.onetimesheduledate.errors.required">One time schedule date is required!</span>
                    </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Time to Run (Hrs)
                    </label>
                    <select formControlName="onetimesheduletime" class="p-inputtext animation">
                        <option *ngFor="let v of timearray" [ngValue]="v">{{v}}</option>
                    </select>
                </div>
                <div class="p-field block-div">
                    <button class="p-button p-component ng-star-inserted" type="button"
                            (click)="oneTimeReport()">
                        <span class="p-button-label">Save Schedule</span>
                    </button>
                    <button class="p-button p-component ng-star-inserted" type="button" (click)="cancel()">
                        <span class="p-button-label">Cancel</span>
                    </button>

                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Recurring Report">
            <form [formGroup]="reportingRRForm">
                <div class="p-field p-fluid">
                    <label type="text" class="col-form-label"><span class="red-star">*</span> Distribution List
                    </label>
                        <p-chips  [addOnBlur]="true" [allowDuplicate]="false" formControlName="emaillist"
                                 placeholder="Enter Atleast one Email"
                                 (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>
                        <div *ngIf="recrep.emaillist.errors && (recrep.emaillist.dirty || recrep.emaillist.touched)">
                            <span class="p-error" *ngIf="recrep.emaillist.errors.required">Atleast one email is required!</span>
                            <span class="p-error" *ngIf="recrep.emaillist.errors.pattern">Email is incorrect!</span>
                        </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Frequency
                    </label>
                    <select formControlName="selectedfrequencystate" [(ngModel)]="selectedfrequencystate"
                            class="p-inputtext animation"
                            (change)="changesr()">
                        <option *ngFor="let v of reportscheduleformat" [ngValue]="v.value">{{v.name}}</option>
                    </select>
                </div>
                <div *ngIf="(selectedfrequencystate === 'Daily')" class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Repeats Every (Days)
                    </label>
                    <select formControlName="recurrencepattern" [(ngModel)]="recurrencepattern"
                            class="p-inputtext animation">
                        <option *ngFor="let v of repeatdaily" [ngValue]="v">{{v}}</option>
                    </select>
                </div>
                <div *ngIf="(selectedfrequencystate === 'Weekly')" class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Repeats Every (Weeks)
                    </label>
                    <select formControlName="recurrencepattern" [(ngModel)]="recurrencepattern"
                            class="p-inputtext animation">
                        <option *ngFor="let v of repeatweekly" [ngValue]="v">{{v}}</option>
                    </select>
                </div>
                <div *ngIf="(selectedfrequencystate === 'Monthly')" class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Repeats On Day {{numberday}} Of Every Month(s)
                    </label>
                    <select formControlName="recurrencepattern" [(ngModel)]="recurrencepattern"
                            class="p-inputtext animation">
                        <option *ngFor="let v of repeatmonthly" [ngValue]="v">{{v}}</option>
                    </select>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Starts On
                    </label>
                    <input pInputText class="p-inputtext animation  " placeholder="Enter Date"
                           type="date" formControlName="multitimesheduledateafter" (change)="changetimevalue($event)"
                           (input)="changeval()" [(ngModel)]="multitimesheduledateafter" min="{{mindate}}">
                    <div *ngIf="recrep.multitimesheduledateafter.errors && (recrep.multitimesheduledateafter.dirty || recrep.multitimesheduledateafter.touched)">
                        <span class="p-error" *ngIf="recrep.multitimesheduledateafter.errors.required">One time schedule date is required!</span>
                    </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Time to Run (Hrs)
                    </label>
                    <select formControlName="multitimesheduletimeafter" [(ngModel)]="multitimesheduletimeafter"
                            class="p-inputtext animation">
                        <option *ngFor="let v of timearray" [ngValue]="v">{{v}}</option>
                    </select>
                </div>
                <h3><b>Range Of Recurrence</b></h3>
                <div class="p-field">
                    <input type="radio" formControlName="selectedendradio" value="noend"
                           [(ngModel)]="selectedendradio">
                    <label class="form-check-label">No End Date</label>
                    <input type="radio" formControlName="selectedendradio" value="end"
                           [(ngModel)]="selectedendradio">
                    <label class="form-check-label">End By</label>
                </div>
                <div *ngIf="(selectedendradio === 'end')" class="p-field">
                    <input pInputText class="p-inputtext animation  " placeholder="Enter Date"
                           type="date" formControlName="multitimesheduledateendby" (change)="checkstarton($event)"
                           [(ngModel)]="multitimesheduledateendby" min="{{mindate}}">
                </div>
                <div class="p-field block-div">
                    <button class="p-button p-component ng-star-inserted" type="button"
                            (click)="recurringReport()">
                        <span class="p-button-label">Save Schedule</span>
                    </button>
                    <button class="p-button p-component ng-star-inserted" type="button" (click)="cancel()">
                        <span class="p-button-label">Cancel</span>
                    </button>

                </div>
            </form>
        </p-tabPanel>
    </p-tabView>


</p-card>
