<div class="feature-item">
    <div class="feature-item-title-row">
        <span (click)="othersClick(this.data.othersCount)" class="icon"></span>
        <span class="p-d-flex p-flex-wrap p-ml-2">
            <span class="title p-d-flex">
                <a *ngIf="this.data.socNoAdmin" [pTooltip]="this.data.userName" tooltipPosition="top" (click)="othersClick(this.data.othersCount)">{{this.data.othersCount || "0"}} </a>
                <a *ngIf="this.data.socAdmin" [pTooltip]="this.data.userName" tooltipPosition="top" (click)="othersClick(this.data.othersCount)">{{this.data.othersSocCount || "0"}}</a>
                <span *ngIf="this.data.socAdmin">/</span>
                <a *ngIf="this.data.socAdmin" pTooltip="Team Counts" tooltipPosition="top" (click)="openDialog(this.data.othersCount)">{{this.data.othersCount || "0"}}</a>
            </span>
            <span (click)="othersClick(this.data.othersCount)">Others</span>
        </span>
        <span *ngIf="increased && !zeroValue" class="title-right">
            <i class="pi pi-arrow-up"></i>  {{percentVal}}%
        </span>
        <span *ngIf="!increased && !zeroValue" class="title-right">
            <i class="pi pi-arrow-down"></i>  {{percentVal}}%
        </span>
        <span *ngIf="zeroValue && !increased" class="title-right">
            <i class="pi pi-arrow-vertical"></i>  {{percentVal}}%
        </span>
    </div>
    <div echarts [options]="othersChart" class="wsh-chart"></div>
</div>
