//@import "variables";
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
//
//@media screen and (max-width: 1199px) {
//  app-ipv, app-malware {
//    margin-bottom: 15px;
//    display: block;
//  }
//}
//@media screen and (max-width: 991px) {
//  app-url {
//    margin-bottom: 15px;
//    display: block;
//  }
//}
