<p-card header="Weekly Search History">
    <div class="spin">
        <ngx-spinner name="week-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
    </div>

    <div class="p-grid">

        <div class="p-col-12 p-md-12 p-lg-6 p-xl-3">
            <app-ipv [data]="data"></app-ipv>
        </div>
        <div class="p-col-12 p-md-12 p-lg-6 p-xl-3">
            <app-malware [data]="data"></app-malware>
        </div>
        <div class="p-col-12 p-md-12 p-lg-6 p-xl-3">
            <app-url [data]="data"></app-url>
        </div>
        <div class="p-col-12 p-md-12 p-lg-6 p-xl-3">
            <app-others [data]="data"></app-others>
        </div>
    </div>
</p-card>


