<p-card header="Threat Intelligence Sources">
    <div class="spin">
        <ngx-spinner name="tiss-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
    </div>
    <div class="calendar-right">
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="true"
               [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
               (ngModelChange)="selectDate()" placeholder="Select please.../" class="p-inputtext custom-daterange">
    </div>
    <div class="row">
        <div *ngIf="navigateIoc" class="col-md-6">
            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mt-2" (click)="navIocBack()">
                Back
            </button>
        </div>
    </div>

    <div *ngIf="showTable" echarts [options]="tspChart" class="wsh-chart" (chartClick)="tissDetails($event)"></div>
    <div *ngIf="navigateIocD" echarts [options]="sbiIocDetailsChart" class="wsh-chart"></div>

    <div *ngIf="hideTable">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                </div>
            </div>
        </div>

    </div>
</p-card>
