//@import "variables";
//
//::ng-deep app-dashboard .p-card-content {
//  .p-button {
//    padding: 0.5rem 1rem;
//  }
//}
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
//.app-datamap {
//  width: 100%;
//  display: flex;
//  overflow: hidden;
//}
