<div class="p-grid">
    <div class="p-col">
        <app-weekly-search-history></app-weekly-search-history>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-8">
        <p-card header="Global Attacking IoCs">
            <div class="app-datamap">
                <app-datamap></app-datamap>
            </div>
        </p-card>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-4">
        <app-top-statistics-of-pakistan></app-top-statistics-of-pakistan>
        <app-top-attacking-iocs-pakistan></app-top-attacking-iocs-pakistan>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4">
        <app-sector-based-iocs></app-sector-based-iocs>
    </div>
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4">
        <app-total-indicator-counts></app-total-indicator-counts>
    </div>
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4">
        <app-risk-factor-counts></app-risk-factor-counts>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4 card-height-100">
        <app-trending-indicators></app-trending-indicators>
    </div>
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4 card-height-100">
        <app-commercial-indicators></app-commercial-indicators>
    </div>
    <div class="p-col-12 p-md-12 p-lg-6 p-xl-4 card-height-100">
        <app-threat-intelligence-sources></app-threat-intelligence-sources>
    </div>
</div>
