<div class="p-grid">
    <div class="p-col">
        <p-card >

            <ngx-spinner name="explore-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <div>
                <p-table  #dt [columns]="exploreData" [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                        <h3 class="p-m-0">Risk Factors: <span class="{{color}}">{{riskFactorType}}</span></h3>
                            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="exportCSV()">
                                Export CSV
                            </button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> IoC Type</th>
                            <th> IoC Title</th>
                            <th> Country</th>
                            <th>Counts</th>
                            <th><i class="pi pi-spin pi-spinner" *ngIf="spinnerReport"></i> Download</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>

                            <td class="p-text-capitalize">{{rowData.type}}</td>
                            <td><a pTooltip="{{rowData.title}}" (click)="openDialog(rowData.title, rowData.type)">{{rowData.title}}</a></td>
                            <td>{{rowData.country || '--'}}</td>
                            <td>{{rowData.count || '--'}}</td>
                            <td>
                                <button style="display: inline-block" type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="downloadPdfAttack(rowData.type, rowData.title)">
                                    PDF
                                </button>
                                <button style="display: inline-block" type="button" class="p-button p-component ng-star-inserted w-auto" (click)="downloadStixAttack(rowData.type, rowData.title)">
                                    STIX
                                </button>
                            </td>

                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="6">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
</div>
