//@import "variables";
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
//.category-color-r {
//  color: #ef2311;
//}
//.category-color-g {
//  color: #30e012;
//}
//.category-color-m {
//  color: #ef8c04;
//}
//.category-color-y {
//  color: #e0d42d;
//}
//.category-color-p {
//  color: #a720e7;
//}
//.category-color-n {
//  color: #706969;
//}
