//@import "variables";
//
///*DEFAULT THEME*/
//$padding: 1.5rem;
//$border: 1px solid $orange;
//$chart-h: 200px;
//$icon-w: 40px;
//$icon-h: 40px;
//$icon-bg: $orange url("/assets/ip-icon.svg") no-repeat center center;
//
//.feature-item {
//  padding: $padding;
//  border: $border;
//  position: relative;
//
//  .feature-item-title-row {
//
//    display: flex;
//    margin-bottom: 1rem;
//    align-items: center;
//
//    .icon {
//      width: $icon-w;
//      height: $icon-h;
//      background: $icon-bg;
//      display: inline-block;
//      border-radius: 50%;
//    }
//
//    .title {
//      font-size: $font-20;
//      font-weight: $font-bold;
//      width: 100%;
//
//      span {
//        display: block;
//        font-size: $font-13;
//        color: $black-50;
//        font-weight: $font-regular;
//        margin: 5px;
//      }
//
//    }
//
//    .title-right {
//      position: absolute;
//      top: 54px;
//      right: 1.5rem;
//      font-weight: $font-bold;
//      color: $primary-color;
//      font-size: $font-13;
//
//      i {
//        margin-right: 3px;
//        color: $orange;
//
//        &.pi-arrow-down {
//          color: $red;
//        }
//
//      }
//    }
//
//  }
//
//  .wsh-chart {
//    height: $chart-h;
//  }
//
//}
