<div class="feature-item">
    <div class="feature-item-title-row">
        <span (click)="ipClick(this.data.ipCount)" class="icon"></span>
        <span class="p-d-flex p-flex-wrap p-ml-2">
            <span class="title p-d-flex">
                <a *ngIf="this.data.socNoAdmin" tooltipPosition="top"  [pTooltip]="this.data.userName" (click)="ipClick(this.data.ipCount)">{{this.data.ipCount || "0"}} </a>
                <a *ngIf="this.data.socAdmin" tooltipPosition="top"  [pTooltip]="this.data.userName" (click)="ipClick(this.data.ipCount)">{{this.data.ipSocCount || "0"}}</a>
                <span *ngIf="this.data.socAdmin">/</span>
                <a *ngIf="this.data.socAdmin" tooltipPosition="top"  pTooltip="Team Counts" (click)="openDialog(this.data.ipCount, 'IPv4')">{{this.data.ipCount || "0"}}</a>
            </span>
            <span (click)="ipClick(this.data.ipCount)">IPv4</span>
        </span>
        <span *ngIf="increased && !zeroValue" class="title-right">
            <i class="pi pi-arrow-up"></i>  {{percentVal}}%
        </span>
        <span *ngIf="!increased && !zeroValue" class="title-right">
            <i class="pi pi-arrow-down"></i>  {{percentVal}}%
        </span>
        <span *ngIf="zeroValue && !increased" class="title-right">
            <i class="pi pi-arrow-vertical"></i>  {{percentVal}}%
        </span>
    </div>
    <div echarts [options]="ipvChart" class="wsh-chart"></div>
</div>
