<div class="p-grid">
  <div class="p-col">
    <p-card header="Scheduled Reports">
      <ngx-spinner name="reportlist-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <div>
        <p-table  #dt [value]="scheduledata" [alwaysShowPaginator]="false"
                  [paginator]="true" [rows]="10"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"

                  styleClass="p-datatable-customers p-datatable-gridlines app-table">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th> Report To</th>
              <th> Report Period</th>
              <th > Report Date Range</th>
              <th> Organization</th>
              <th> Pattern</th>
              <th> Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>

              <td>{{rowData.userEmail}}</td>
              <td>{{rowData['sendingTime']}} To {{rowData['endRange']}}</td>
              <td>{{rowData['reportFrom']}}  To  {{rowData['reportTo']}}</td>
              <td>{{rowData['organization']}}</td>
              <td>{{rowData['pattren']}}</td>
              <td class="text-center justify-content-center">
                <a style="cursor: pointer" class="onRowClick mr-3" (click)="Deletesch(rowData)"><span> <i
                        class="pi pi-trash"></i> </span>
                </a>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="6">
                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="panel panel-default">
                      <p class="msg-dashBoard"> No Record Found </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
