@import "variables";

::ng-deep .page-title {
    
    background: linear-gradient(270deg, #2DDEFF 0%, #7F9BFF 100%);
    padding: 25px 15px;
    min-height: 123px;  
  
    h1 {
        @include p-m-o;
        font-weight: $regular;
        font-size: 20px;
    }
    
}