<div class="p-grid">
  <div class="p-col">
    <p-card header="Risk Factors">
        <p-table #dt [value]="requestIncident" [alwaysShowPaginator]="false" [paginator]="true"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                 [rows]="10"
                 styleClass="p-datatable-customers p-datatable-gridlines app-table">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th width="20%"> Risk Factor</th>
              <th width="20%"> Risk</th>
              <th> Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>{{rowData.riskFactor}}</td>
              <td>
                <span class="leads category-color-g"
                      *ngIf="rowData.risk === 'Very Low'"><b>{{rowData.risk}}</b></span>
                <span class="leads category-color-y"
                      *ngIf="rowData.risk === 'Low'"><b>{{rowData.risk}}</b></span>
                <span class="leads category-color-m"
                      *ngIf="rowData.risk === 'Medium'"><b>{{rowData.risk}}</b></span>
                <span class="leads category-color-r"
                      *ngIf="rowData.risk === 'High'"><b>{{rowData.risk}}</b></span>
                <span class="leads category-color-p"
                      *ngIf="rowData.risk === 'Critical'"><b>{{rowData.risk}}</b></span>
                <span class="leads category-color-n"
                      *ngIf="rowData.risk === 'Unknown'"><b>{{rowData.risk}}</b></span>
              </td>
              <td>{{rowData.details}}</td>
            </tr>
          </ng-template>
        </p-table>
    </p-card>
  </div>
</div>
