<div class="p-grid">
    <div class="p-col">
<div class="p-grid">
    <div class="p-col">
        <p-card header="URL/Domains Search History">
            <ngx-spinner name="url-history-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [alwaysShowPaginator]="true"
                     [paginator]="true" [rows]="10"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th width="60%"> Indicators</th>
                        <th pSortableColumn="lastAccessed"> Last Accessed <p-sortIcon field="lastAccessed"></p-sortIcon></th>
                        <th> Counts</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                        <td>{{rowData.lastAccessed | date:'yyyy-MM-dd'}}</td>
                        <td>{{rowData.counts}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
    </div>
</div>
