<p-card header="Critical Indicators">
    <div class="spin">
        <ngx-spinner name="ti-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                     type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
    </div>
    <table *ngIf="showTable" class="app-table">
        <thead>
        <tr>
            <th>Type</th>
            <th>IOC</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trendIndicator of trendingIndicatorList">
            <td>{{ trendIndicator?.type }}</td>
            <td (click)="openDialog(trendIndicator.value, trendIndicator.type)"><a>{{ trendIndicator?.value }}</a></td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="hideTable">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                </div>
            </div>
        </div>

    </div>
</p-card>
