<div class="p-grid">
    <div class="p-col">
        <div *ngIf="authorization()">
            <p-card header="Feeds">
                <ngx-spinner name="feeds-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                             type="ball-clip-rotate"
                             [fullScreen]="true">
                    <p> Loading... </p>
                </ngx-spinner>
                <button class="p-button p-component ng-star-inserted "
                        (click)="onFocus()">Download STIX
                </button>
                <table  class="app-table">
                    <tr>
                        <th scope="row">User</th>
                        <td>admin</td>
                    </tr>
                    <tr>
                        <th scope="row">Password</th>
                        <td>
                            <div class="input-group position-relative">
                                <input  type="password" pPassword class="p-inputtext animation"
                                        value={{passwordValue}} formControlName="password" placeholder="password"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td>
                            <p-calendar placeholder="Add Date"  [monthNavigator]="true"
                                        [yearNavigator]="true" yearRange="2000:2030"
                                        [minDate]="dateNew" [readonlyInput]="true"
                                        (onSelect)="changeDate($event)"

                                        inputId="navigators"></p-calendar>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">URL</th>
                        <td><a (click)="onNavigateURL(stixURL)">{{stixURL}}</a></td>
                    </tr>
                </table>

            </p-card>
        </div>
        <div *ngIf="!authorization()" class="row">
          <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="panel panel-default">
              <p class="msg-dashBoard"> You are not allowed to access this information</p>
            </div>
          </div>
        </div>
    </div>
</div>
