//@import "variables";
//
//.login-form {
//  width: 340px;
//  margin: 130px auto;
//}
//.login-form form {
//  margin-bottom: 15px;
//  background: rgba(255,255,255,0.7);
//  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//  padding: 30px;
//}
//.login-form h2 {
//  margin: 0 0 15px;
//}
//::ng-deep .p-message.p-message-info {
//  background: #062815;
//  border: solid #d9951f;
//  border-width: 0 0 0 6px;
//  color: #ffffff;
//}
//.p-button  {
//  padding: $button-padding;
//  background: $blue-gradient;
//  border-radius: $button-radius;
//  justify-content: center;
//  border:none;
//  color: $white;
//  font-weight: $font-12;
//
//  &:hover {
//    background: $blue-gradient-hover;
//  }
//
//  &.w-auto {
//    width: auto;
//  }
//}
//
//.form-control {
//  min-height: 38px;
//  border-radius: 2px;
//  font-size: 14px;
//}
//.input-group-addon .fa {
//  font-size: 18px;
//}
//.btn {
//  text-transform: capitalize;
//}
//td th {
//  justify-content: center;
//  text-align: center;
//}
//.msg-dashBoard {
//  font-size: 16px;
//  font-weight: bold;
//  background-color: rgb(28, 43, 54);
//  color: white;
//  display: block;
//  height: 50px;
//  padding: 11px;
//  text-align: center;
//  margin: 13px;
//}
//.switch {
//  float: right;
//  margin-top: 5px;
//  margin-bottom: 5px;
//  width: 60px;
//  height: 20px;
//  text-align: right;
//  margin-right: 2px;
//}
//
//.label-danger {
//  background: #dc3545;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//.label-success {
//  background: green;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//::ng-deep .p-datatable-wrapper {
//  margin-top: 20px;
//}
//::ng-deep .p-input-icon-left {
//
//  i {
//    left: 0.8rem;
//    top: 1.7rem;
//  }
//
//  input {
//    padding: 0.9rem 0.8rem 0.8rem 1.8rem;
//    border: 1px solid $black-20;
//    border-radius: 5px;
//    font-family: $font-stack;
//    font-size: $primary-font-size;
//    color: $primary-color;
//    height: 47px;
//
//    &:hover, &:focus {
//      outline: none;
//      border: 1px solid $black-50;
//    }
//
//  }
//
//}
//
//::ng-deep .onRowClick {
//
//  .pi {
//    margin-right: 7px;
//    cursor: pointer;
//    font-size: $font-15;
//  }
//
//}
//.category-color-r {
//  color: #ef2311;
//}
//.category-color-g {
//  color: #30e012;
//}
//.category-color-m {
//  color: #ef8c04;
//}
//.category-color-y {
//  color: #e0d42d;
//}
//.category-color-p {
//  color: #a720e7;
//}
//.category-color-n {
//  color: #706969;
//}
//.files {
//  margin: 3px;
//}
//
//.alert.alert-danger{
//  padding: 3px 10px;
//  border-radius: 0;
//  position: relative;
//  display: inline-block;
//  margin-top: 10px;
//  position: absolute;
//  left:0;
//  top:100%;
//  z-index: 9;
//}
///*th {*/
///*  width: 70px !important;*/
///*}*/
//.alert-danger:before{
//  content: '';
//  border-left: 1px solid #f4c6cb;
//  border-top: 1px solid #f4c6cb;
//  width: 15px;
//  height: 15px;
//  background: #f8d7da;
//  -webkit-transform: rotate(45deg);
//  transform: rotate(45deg);
//  position: absolute;
//  top: -8px;
//}
//.custom_checkBox ul {
//  list-style-type: none;
//  padding-left: 0;
//}
//.custom_checkBox ul li {
//  padding: 2px 0;
//}
//.malicious {
//  min-width: 60px;
//  border-radius: 18px;
//  border: 1px solid;
//  font-size: 115%;
//  background: #ffffff;
//  font-weight: bolder;
//  display: inline-block;
//  color: rgb(255, 173, 0);
//  border-color: rgb(255, 173, 0);
//  text-align: center;
//}
//.msg-dashBoard {
//  font-size: 16px;
//  font-weight: bold;
//  background-color: rgb(28, 43, 54);
//  color: white;
//  display: block;
//  height: 50px;
//  padding: 11px;
//  text-align: center;
//  margin: 26px;
//}
//.forManage {
//  position: relative;
//  left: 5px;
//  padding: 0.7rem 1.5rem;
//  float: left;
//  margin-right: 15px;
//}
//.file-uploader-malware input {
//  border:1px solid #ced4da;
//  padding:2px;
//  position: relative;
//  top: 1px;
//}
//.my-drop-zone {
//  border: dotted 3px lightgray;
//  height: 100px;
//  text-align: center;
//  padding-top: 30px;
//}
//.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
//.another-file-over-class { border: dotted 3px green; }
//.well .my-drop-zone {
//  height: 50px;
//}
//.pi.pi-info-circle {
//  position: relative;
//  top: 2px;
//}
//body .ui-tabview .ui-tabview-panels {
//  padding: 0 !important;
//}
//.file-uploader-malware .my-drop-zone {
//  border: 1px solid #e5e5e5;
//  border-radius:4px;
//  float: left;
//  padding: 7px;
//  height: auto;
//}
//.file-uploader-malware {
//  width: 500px;
//  float: left;
//}
//.file-uploader-malware .table {
//  width: 200px;
//  margin-left: 10px;
//  margin-bottom: 0;
//}
//.file-uploader-malware .table td, .file-uploader-malware .table th {
//  padding: .5rem;
//}
//.ui-tabview .ui-tabview-panels {
//  float: left;
//  width: 100%;
//}
//.ui-g-12 {
//  padding:2px 10px;
//}
//.ui-tabview-panel {
//  min-height: 35px;
//}
//
//
//
//
///* ---------------------------------------------
//              FOR FUTURE SEARCH CSS
// --------------------------------------------- */
//
//
//@import url(https://fonts.googleapis.com/css?family=Roboto:400);
//body {
//  font-family: "Roboto", sans-serif;
//}
//
//.header {
//  max-width: 720px;
//  margin: 2em auto 10em;
//}
//
//.header-nav {
//  position: relative;
//  padding-right: 3em;
//}
//.header-nav:before, .header-nav:after {
//  content: "";
//  display: table;
//}
//.header-nav:after {
//  clear: both;
//}
//
//.menu {
//  display: inline-block;
//  float: right;
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//}
//.menu li {
//  display: inline-block;
//}
//.menu li a {
//  color: #0097bf;
//  display: block;
//  padding: 10px;
//  position: relative;
//  transition: color 0.3s;
//  text-decoration: none;
//}
//
//.search-button {
//  position: absolute;
//  right: 20px;
//  top: 50%;
//  -webkit-transform: translate(0, -50%);
//  transform: translate(0, -50%);
//}
//
//.pButton {
//  font-size: 20px; /* Put your wanted size for your button here*/
//}
//
//.search-toggle {
//  position: relative;
//  display: block;
//  height: 10px;
//  width: 10px;
//}
//.search-toggle::before, .search-toggle::after {
//  content: "";
//  position: absolute;
//  display: block;
//  transition: all 0.1s;
//}
//.search-toggle::before {
//  border: 2px solid #0097bf;
//  border-radius: 50%;
//  width: 100%;
//  height: 100%;
//  left: -2px;
//  top: -2px;
//}
//.search-toggle::after {
//  height: 2px;
//  width: 7px;
//  background: #0097bf;
//  top: 10px;
//  left: 8px;
//  -webkit-transform: rotate(45deg);
//  transform: rotate(45deg);
//}
//.search-toggle.active::before {
//  width: 0;
//  border-width: 1px;
//  border-radius: 0;
//  -webkit-transform: rotate(45deg);
//  transform: rotate(45deg);
//  top: -1px;
//  left: 4px;
//}
//.search-toggle.active::after {
//  width: 12px;
//  left: -1px;
//  top: 4px;
//}
//
//.search-input:focus {
//  outline: none;
//}
//
//#header-1 {
//  border-bottom: 2px solid #0097bf;
//}
//#header-1 .search-box {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 100%;
//  max-height: 0;
//  -webkit-transform: translateY(100%);
//  transform: translateY(100%);
//  background-color: #0097bf;
//  transition: all 0.3s;
//}
//#header-1 .search-box .search-input {
//  width: 100%;
//  height: 100%;
//  padding: 0 1em;
//  border: 0;
//  background-color: transparent;
//  opacity: 0;
//  color: #fff;
//}
//#header-1 .search-box .search-input::-webkit-input-placeholder {
//  color: rgba(255, 255, 255, 0.4);
//}
//#header-1.show .search-box {
//  max-height: 40px;
//}
//#header-1.show .search-box .search-input {
//  opacity: 1;
//}
//
//#header-2 {
//  overflow: hidden;
//}
//#header-2 .menu li {
//  opacity: 1;
//  transition: opacity 0.2s 0.1s, -webkit-transform 0.3s;
//  transition: transform 0.3s, opacity 0.2s 0.1s;
//  transition: transform 0.3s, opacity 0.2s 0.1s, -webkit-transform 0.3s;
//}
//#header-2 .menu li:nth-child(1) {
//  transition-delay: 0.4s;
//}
//#header-2 .menu li:nth-child(2) {
//  transition-delay: 0.5s;
//}
//#header-2 .menu li:nth-child(3) {
//  transition-delay: 0.6s;
//}
//#header-2 .menu li:nth-child(4) {
//  transition-delay: 0.7s;
//}
//#header-2 .menu li:nth-child(5) {
//  transition-delay: 0.8s;
//}
//#header-2 .search-box {
//  position: absolute;
//  left: 0;
//  height: 100%;
//  padding-left: 2em;
//  -webkit-transform: translateX(20%);
//  transform: translateX(20%);
//  opacity: 0;
//  transition: all 0.4s 0.3s;
//}
//#header-2 .search-box .search-input {
//  border: 0;
//  width: 100%;
//  height: 100%;
//  background-color: transparent;
//}
//#header-2 .search-box .search-toggle {
//  width: 14px;
//  height: 14px;
//  padding: 0;
//  position: absolute;
//  left: 5px;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  transform: translateY(-50%);
//}
//#header-2.show .menu li {
//  -webkit-transform: scale(0.8);
//  transform: scale(0.8);
//  opacity: 0;
//}
//#header-2.show .search-box {
//  width: calc(100% - 5em);
//  -webkit-transform: translateX(0);
//  transform: translateX(0);
//  opacity: 1;
//}
//
//#header-3 .menu li {
//  opacity: 1;
//  transition: all 0.3s 0.3s;
//}
//#header-3 .search-box {
//  position: absolute;
//  right: 48px;
//  height: 100%;
//  width: 0;
//  padding: 0;
//  opacity: 0;
//  transition: all 0.3s;
//}
//#header-3 .search-box .search-input {
//  border: 0;
//  width: 100%;
//  height: 100%;
//  background-color: transparent;
//}
//#header-3 .search-box .search-toggle {
//  width: 14px;
//  height: 14px;
//  padding: 0;
//  position: absolute;
//  left: 5px;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  transform: translateY(-50%);
//}
//#header-3.show .menu li {
//  opacity: 0;
//  transition: all 0.3s;
//}
//#header-3.show .menu li:nth-child(even) {
//  -webkit-transform: translateY(-100%);
//  transform: translateY(-100%);
//}
//#header-3.show .menu li:nth-child(odd) {
//  -webkit-transform: translateY(100%);
//  transform: translateY(100%);
//}
//#header-3.show .search-box {
//  width: calc(100% - 5em);
//  opacity: 1;
//  transition: all 0.3s 0.3s;
//}
//.ico:after{
//  content: '';
//  display: block;
//  height: 40px;  /*height of icon */
//  width: 40px;  /*width of icon */
//  position: absolute;
//  /*where to replace the icon */
//  top: 0px;
//  left: -40px;
//  /*background */
//}
//.label-danger {
//  background: #dc3545;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: -1px;
//}
//.label-success {
//  background: green;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: -1px;
//}
//.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
//  right: 0;
//  left: auto !important;
//  transform: none !important;
//  top: 20px !important;
//}
//
//:host ::ng-deep .p-chip.custom-chip {
//  background: var(--primary-color);
//  color: var(--primary-color-text);
//}
