<div class="p-grid">
  <div class="p-col-12">
    <p-card header="{{typehtml}} Details">
  <ngx-spinner name="explore-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
               [fullScreen]="true"><p> Loading... </p></ngx-spinner>


    <div *ngIf="typehtml !== 'Hash'">
      <div class="table-has-scroll">
        <div class="has-scoll">
          <div *ngIf="checkIfFilter" class="calendar-right p-jc-end" style="float: right">
            <button class="p-button p-component ng-star-inserted w-auto" type="button"
                    (click)="clearFilter()">
              <span class="p-button-label">Clear Filter</span>
            </button>
          </div>
          <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [paginator]="true" [rows]="10"
                    [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                    [totalRecords]="totalRecords"
                    styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th width="25%"> Indicator</th>
                <th> Country</th>
                <th *ngIf="checkParam()"> Risk Factor</th>
                <th> First Seen</th>
                <th> Last Seen</th>
                <th><i class="pi pi-spin pi-spinner" *ngIf="spinnerReport"></i> Download</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>

                <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openDialog(rowData.title)">{{rowData.title}}</a></td>
                <td>{{rowData.country || "--"}}</td>
                <td *ngIf="checkParam()">
                <span class="leads category-color-g"
                      *ngIf="rowData?.riskFactor === 'Very Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-y"
                        *ngIf="rowData?.riskFactor === 'Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-m"
                        *ngIf="rowData?.riskFactor === 'Medium'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-r"
                        *ngIf="rowData?.riskFactor === 'High'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-p"
                        *ngIf="rowData?.riskFactor === 'Critical'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-n"
                        *ngIf="rowData?.riskFactor === 'Unknown'"><b>{{rowData?.riskFactor}}</b></span></td>
                <td>{{rowData.createdDate  | date:'dd/MMM/yyyy'  || "--"}}</td>
                <td>
                  <span >{{rowData?.fetchedDate  | date:'dd/MMM/yyyy' || "--"}}</span>
                </td>
                <td>
                  <img width="16px"(click)="downloadPdfAttack(type, rowData.title)" pTooltip="PDF" class="files" src="../assets/pdf.png">

                  <img width="16px" (click)="downloadStixAttack(type, rowData.title)"  pTooltip="STIX" class="files" src="../assets/stix.png">
                </td>

              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                      <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div *ngIf="typehtml === 'Hash'">
      <p-tabView (onChange)="changetab($event)">
        <p-tabPanel header="FileHash-MD5({{ hashType_md5 | number }})" >
          <div class="table-has-scroll">
            <div class="has-scoll">
              <div *ngIf="checkIfFilter" class="calendar-right p-jc-end" style="float: right">
                <button class="p-button p-component ng-star-inserted w-auto" type="button"
                        (click)="clearFilter()">
                  <span class="p-button-label">Clear Filter</span>
                </button>
              </div>
          <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [paginator]="true" [rows]="10"
                    [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                    [totalRecords]="totalRecords"
                    styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th> Indicator</th>
                <th> Country</th>
                <th *ngIf="checkParam()"> Risk Factor</th>
                <th> First Seen</th>
                <th> Last Seen</th>
                <th><i class="pi pi-spin pi-spinner" *ngIf="spinnerReport"></i> Download</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>

                <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openDialog(rowData.title)">{{rowData.title}}</a></td>
                <td>{{rowData.country || "--"}}</td>
                <td *ngIf="checkParam()">
              <span class="leads category-color-g"
                    *ngIf="rowData?.riskFactor === 'Very Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-y"
                        *ngIf="rowData?.riskFactor === 'Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-m"
                        *ngIf="rowData?.riskFactor === 'Medium'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-r"
                        *ngIf="rowData?.riskFactor === 'High'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-p"
                        *ngIf="rowData?.riskFactor === 'Critical'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-n"
                        *ngIf="rowData?.riskFactor === 'Unknown'"><b>{{rowData?.riskFactor}}</b></span></td>
                <td>{{rowData.createdDate  | date:'dd/MMM/yyyy' || "--"}}</td>
                <td>
                  <span >{{rowData?.fetchedDate  | date:'dd/MMM/yyyy' || "--"}}</span>

                </td>
                <td>
                  <img width="16px"(click)="downloadPdfAttack(type, rowData.title)" pTooltip="PDF" class="files" src="../assets/pdf.png">

                  <img width="16px" (click)="downloadStixAttack(type, rowData.title)"  pTooltip="STIX" class="files" src="../assets/stix.png">
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                      <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="FileHash-SHA1({{ hashType_sha1 | number }})">
          <ng-template pTemplate="content">
            <div class="table-has-scroll">
              <div class="has-scoll">
          <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [paginator]="true" [rows]="10"
                    [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                    [totalRecords]="totalRecords"
                    styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th> Indicator</th>
                <th> Country</th>
                <th *ngIf="checkParam()"> Risk Factor</th>
                <th> First Seen</th>
                <th> Last Seen</th>
                <th><i class="pi pi-spin pi-spinner" *ngIf="spinnerReport"></i> Download</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>

                <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openDialog(rowData.title)">{{rowData.title}}</a></td>
                <td>{{rowData.country || "--"}}</td>
                <td *ngIf="checkParam()">
              <span class="leads category-color-g"
                    *ngIf="rowData?.riskFactor === 'Very Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-y"
                        *ngIf="rowData?.riskFactor === 'Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-m"
                        *ngIf="rowData?.riskFactor === 'Medium'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-r"
                        *ngIf="rowData?.riskFactor === 'High'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-p"
                        *ngIf="rowData?.riskFactor === 'Critical'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-n"
                        *ngIf="rowData?.riskFactor === 'Unknown'"><b>{{rowData?.riskFactor}}</b></span></td>
                <td>{{rowData.firstSeen  | date:'dd/MMM/yyyy' || "--"}}</td>
                <td>{{rowData.lastSeen  | date:'dd/MMM/yyyy' || "--"}}</td>
                <td>
                  <img width="16px"(click)="downloadPdfAttack(type, rowData.title)" pTooltip="PDF" class="files" src="../assets/pdf.png">

                  <img width="16px" (click)="downloadStixAttack(type, rowData.title)"  pTooltip="STIX" class="files" src="../assets/stix.png">
                </td>

              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                      <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="FileHash-SHA256({{ hashType_sha256 | number }})">
          <ng-template pTemplate="content">
            <div class="table-has-scroll">
              <div class="has-scoll">
          <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                    [paginator]="true" [rows]="10"
                    [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                    [totalRecords]="totalRecords"
                    styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th> Indicator</th>
                <th> Country</th>
                <th *ngIf="checkParam()"> Risk Factor</th>
                <th> First Seen</th>
                <th> Last Seen</th>
                <th><i class="pi pi-spin pi-spinner" *ngIf="spinnerReport"></i> Download</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>

                <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openDialog(rowData.title)">{{rowData.title}}</a></td>
                <td>{{rowData.country  || "--"}}</td>
                <td *ngIf="checkParam()">
              <span class="leads category-color-g"
                    *ngIf="rowData?.riskFactor === 'Very Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-y"
                        *ngIf="rowData?.riskFactor === 'Low'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-m"
                        *ngIf="rowData?.riskFactor === 'Medium'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-r"
                        *ngIf="rowData?.riskFactor === 'High'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-p"
                        *ngIf="rowData?.riskFactor === 'Critical'"><b>{{rowData?.riskFactor}}</b></span>
                  <span class="leads category-color-n"
                        *ngIf="rowData?.riskFactor === 'Unknown'"><b>{{rowData?.riskFactor}}</b></span></td>
                <td>{{rowData.firstSeen  | date:'dd/MMM/yyyy' || "--"}}</td>
                <td>{{rowData.lastSeen  | date:'dd/MMM/yyyy' || "--"}}</td>
                <td>
                  <img width="16px"(click)="downloadPdfAttack(type, rowData.title)" pTooltip="PDF" class="files" src="../assets/pdf.png">

                  <img width="16px" (click)="downloadStixAttack(type, rowData.title)"  pTooltip="STIX" class="files" src="../assets/stix.png">
                </td>

              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                      <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
</p-card>
  </div>
</div>
