//@import "variables";
//
///*DEFAULT THEME*/
//$chart-h: 343px;
//
//.wsh-chart {
//  height: $chart-h;
//}
//
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
