<div class="p-grid">
    <div class="p-col">
        <p-card header="Report Panel">
            <ngx-spinner name="report-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <form class="row"  #addMountForm="ngForm">
            <div class="p-grid">
                <div class="p-col-12 p-md-12 p-xl-3">
                    <ul class="checkbox-list">
                        <li>
                            <input type="checkbox" [(ngModel)]="malwareAll" [ngModelOptions]="{standalone: true}"
                                   class="checkbox-custom" (change)="malwareAttack(this);" [disabled]="malwaredis"/>
                            <b>Malware/hash Attacks</b>

                        </li>
                        <li *ngFor="let n of malwareac">
                            <input class="checkbox-custom" type="checkbox" (change)="malwaresingle(n.selected);" [(ngModel)]="n.selected"
                                   name={{n.value}} ngModel [disabled]="malwaredis">
                            {{n.name}}
                        </li>
                    </ul>
                </div>
                <div class="p-col-12 p-md-12 p-xl-3">
                    <ul class="checkbox-list">
                        <li>
                            <input class="checkbox-custom" type="checkbox" [(ngModel)]="ipAll"
                                   [ngModelOptions]="{standalone: true}"
                                   (change)="ipAttack()" [disabled]="ipdis"/>
                            <b>IP Attacks</b>
                        </li>
                        <li *ngFor="let n of ip">
                            <input class="checkbox-custom" type="checkbox" (change)="ipssingle(n.selected);" [(ngModel)]="n.selected"
                                   name={{n.value}} ngModel [disabled]="ipdis">
                            {{n.name}}
                        </li>
                    </ul>
                </div>
                <div class="p-col-12 p-md-12 p-xl-3">
                    <ul class="checkbox-list">
                        <li><input class="checkbox-custom" type="checkbox" [(ngModel)]="domainAll" [ngModelOptions]="{standalone: true}"
                                   (change)="domainAttack()" [disabled]="domaindis"/>
                            <b>Domain/URL Attacks</b>
                        </li>
                        <li *ngFor="let n of domain">
                            <input class="checkbox-custom" type="checkbox" (change)="domainsingle(n.selected);" [(ngModel)]="n.selected"
                                   name={{n.value}} ngModel [disabled]="domaindis">
                            {{n.name}}
                        </li>
                    </ul>
                </div>
                <div [hidden]="reportcond" class="p-col-12 p-md-12 p-xl-3 position-relative p-d-flex p-jc-end">
                    <div class="calendar-right">
                        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="true"
                               [ngModelOptions]="{standalone: true}"
                               [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                               (ngModelChange)="selectDate()" placeholder="Select please.../" class="p-inputtext ">
                    </div>

                </div>
            </div>
            <div class="p-grid p-mb-3 p-mt-3">
                <div class="p-col">
                    <div class="p-card-title ng-star-inserted">General</div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col p-md-12 p-xl-6">
                    <b style="margin-bottom: 10px; display: block;">Total IoC of Country</b>

                    <p-multiSelect  [options]="countryList" class="p-inputtext animation"
                                    name="country"
                                    [(ngModel)]="selectedCountry"
                                   defaultLabel="Select a Country" optionLabel="country"
                                   (onChange)="getSelectedCountry($event)"
                                   optionValue="country"
                                   [disabled]="disableSelect.value || general"
                                    [selectionLimit]="5"
                                    selectedItemsLabel="{0} countries selected"></p-multiSelect>
                    <p>Only 5 Countries <i class="pi pi-info-circle" pTooltip= "Note: The CSV report only contains the IoC that are mapped with their respective countries, where the country is known. The IoC that are not mapped with any country, where the country is unknown are not included in this report.
                       The PDF report only contains the summary of only Top IoC of each type from each country." tooltipPosition="top"></i></p>
                </div>
                <div class="p-col p-md-12 p-xl-6">
                    <b style="margin-bottom: 10px; display: block;">Sector based IoCs</b>

                    <p-multiSelect  [options]="sectorList"
                                    [(ngModel)]="selectedSector"
                                    name="sector"
                                    class="p-inputtext animation"
                                   defaultLabel="Select a Sector" optionLabel="sector"
                                   (onChange)="getSelectedSector($event)"
                                   optionValue="sector"
                                   [disabled]="disableSector.value || general"
                                    [selectionLimit]="5"
                                    selectedItemsLabel="{0} sectors selected"></p-multiSelect>
                    <p>Only 5 Sectors <i class="pi pi-info-circle" pTooltip="Note: The CSV report only contains the IoC that are mapped with their respective sectors, where the sector is known. The IoC that are not mapped with any sector, where the sector is unknown are not included in this report.
The PDF report only contains the summary of only Top IoC of each type from each sector." tooltipPosition="top"></i></p>
                </div>
            </div>
            <div class="p-grid p-mt-4">
                <div class="p-col p-d-flex p-justify-between">
                    <div class="p-d-flex">
                        <button type="button" [disabled]="reportcond" (click)="SheduleReport(addMountForm.value)" class="p-button p-component ng-star-inserted w-auto p-mr-2">
                            Schedule Report
                        </button>
                        <button type="button" (click)="shedulelist()" [disabled]="reportcond" class="p-button p-component ng-star-inserted w-auto p-mr-2">
                            Scheduled Reports
                        </button>
                    </div>
                    <div class="p-d-flex">
                        <div class="p-d-flex" *ngIf="generalReportBool">
                            <button type="button" (click)="onSubmit(addMountForm.value)" class="p-button p-component ng-star-inserted w-auto p-mr-2">
                                Download PDF
                            </button>
                            <button type="button" *ngIf="(malwareAll || ipAll || domainAll)" (click)="onSubmitCSV(addMountForm.value)" class="p-button p-component ng-star-inserted w-auto">
                                Download CSV
                            </button>
                            <!-- <img width="16px" (click)="onSubmit(addMountForm.value)"  pTooltip="Download PDF" class="files p-mr-2" src="../assets/pdf.png">
                            <img  *ngIf="(malwareAll || ipAll || domainAll)" (click)="onSubmitCSV(addMountForm.value)" width="16px" pTooltip="Download CSV" class="files" src="../assets/stix.png"> -->
                        </div>
                        <div class="p-d-flex" *ngIf="!generalReportBool">

                            <button type="button" (click)="downloadReport('pdf')" class="p-button p-component ng-star-inserted w-auto p-mr-2">
                                Download PDF
                            </button>
                            <button type="button" (click)="downloadReport('csv')" class="p-button p-component ng-star-inserted w-auto">
                                Download CSV
                            </button>
                            <!-- <img width="16px" (click)="downloadReport('pdf')" pTooltip="Download PDF" class="files p-mr-2" src="../assets/pdf.png">
                            <img (click)="downloadReport('csv')" width="16px" pTooltip="Download CSV" class="files" src="../assets/stix.png"> -->
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </p-card>
    </div>
</div>
