<p-card header="Top Statistics of Pakistan">
    <div class="spin">
        <ngx-spinner name="stats-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                     type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
    </div>
    <div *ngIf="showTable" echarts [options]="tspChart" (chartClick)="openStatsDetails($event)" class="wsh-chart"></div>
    <div *ngIf="hideTable">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                </div>
            </div>
        </div>

    </div>
</p-card>
<!--open Search Dialog Here-->
