<div class="p-grid">
    <ngx-spinner name="ioc-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <div class="p-col" *ngIf="indicatorData">
        <p-card>
            <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [alwaysShowPaginator]="false"
                     [paginator]="true" [rows]="10"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Name</th>
                        <th> Counts</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>{{rowData.name}}</td>
                        <td>{{rowData.counts}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <p class="msg-dashBoard"> No Record Found </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
